#truth {
    width: 50%;
}

#marucs{
   width: 50% !important;
}

.section-highlights .span-highlights .span-container{
    max-width: 45% !important;
}

.section-highlights .span-highlights .span-content{
    padding-bottom: 0px !important;
}

.section-alpha{
    padding-top: 0px !important;
}

.section-highlights .span-highlights .highlight{
    justify-content: space-around !important;
}




@media (min-width: 720px) {

    .about_highlights .container{
    justify-content: space-around !important;
}

    .about_highlights .span-title {
        -webkit-box-ordinal-group: 31;
        order: 30;
        width: 50%;
        max-width: 500px !important;
    }
}

@media screen and (max-width: 480px) {
 #truth {
    width: 100%;
}

#marucs{
    width: 100%;
}

.section-highlights .span-highlights .span-container{
    max-width: 100% !important;
}
}